:root {
  --principal: #f7ece1;
  --secundaria: #454545;
}

html {
  background: #0e100f;
}
.container {
  color: #f7ece1;
  width: 100%;
  overflow: auto;
}

.nav {
  margin-top: 40px;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7ece1;
  font-size: 15px;
  z-index: 99;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  border: #f7ece1 solid 4px;
  border-radius: 50px;
  padding: 0 15px;
  background: #0e100f;
  -webkit-backdrop-filter: blur(1000px);
  backdrop-filter: blur(1000px);
}

@media (max-width: 600px) {
  ul {
    display: none;
  }
}
ul li {
  padding: 15px;
}

li {
  margin: 10px 35px;
  border-radius: 30px;
}

li:hover {
  transition: 0.3s;
  background: #0ae448;
  cursor: pointer;
  color: #0e100f;
}

.herosection {
  margin-top: 5%;
  height: 75vh;
  font-size: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.subtitle {
  color: #0ae448;
  font-size: 1.2rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .subtitle {
    padding: 20px 20px 0px 20px;
  }
}

.projects {
  color: var(--secundaria);
  height: 1000px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background: transparent;
}
