:root {
  --principal: #f7ece1;
  --secundaria: #454545;
}
body {
  overflow-x: hidden;

  background-color: #0e100f;

  --sb-track-color: #0e100f;
  --sb-thumb-color: #f7ece1;
  --sb-size: 15px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  border: 2px solid #0e100f;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.container {
  color: #f7ece1;
  background-color: #0e100f;
  width: 100%;
  overflow: auto;
}

.Background {
  border-bottom: 1px solid #f7ece1;
  opacity: 0.2;
  background-image: radial-gradient(#f7ece1 0.05rem, #0e100f 0rem);
  background-size: 0.7rem 0.7rem;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  @media (max-width: 600px) {
    background-image: radial-gradient(#f7ece1 0.05rem, #0e100f 0rem);
    background-size: 0.7rem 0.7rem;
  }
}

.nav {
  margin-top: 40px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7ece1;
  font-size: 15px;
  z-index: 99;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  border: #f7ece1 solid 4px;
  border-radius: 50px;
  padding: 0 15px;
  background: #0e100f;
}

@media (max-width: 600px) {
  .ul {
    display: none;
  }
}
.ul .li {
  padding: 15px;
}

.li {
  text-decoration: none;
  margin: 5px 35px;
  border-radius: 30px;
}

.li:hover {
  transition: 0.3s;
  background: #0ae448;
  cursor: pointer;
  color: #0e100f;
}
a {
  text-decoration: none;
  color: inherit;
}

.herosection {
  margin-top: 10%;
  height: 73vh;
  font-size: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.subtitle {
  z-index: 1;
  color: #0ae448;
  font-size: 1.2rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2s;
}
@media (max-width: 700px) {
  .subtitle {
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .subtitle {
    padding: 20px 20px 0px 20px;
  }
}

.projects {
  overflow: auto;
  color: var(--secundaria);
  height: 1000px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background: transparent;
}
